div{
    margin: 5px;
    background-color: aqua;
    padding: 10px;
    border:2px solid black;
    border-radius: 2px;
    box-shadow: 2px 2px 2px 2px;
}
#name{
    background-color: white;
    text-align: center;
}